<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="components/button/button.css">
</head>
<body>
  <div class="button_container">
    <div class="button_wrapper" id="button-wrapper">
      <img class="button_icon" src="./ressources/brain.svg" alt="icon" id="button-icon">
      <span class="loader" id="button-loader"></span>
      <div class="dropdown_container" id="dropdown-container">
        <select class="dropdown_select" id="action-dropdown">
          <option value="reformuler">Reformuler</option>
          <option value="corriger">Corriger</option>
        </select>
      </div>
    </div>
  </div>
</body>
</html>
