<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="components/button/button.css">
</head>
<body>
  <div class="button_container">
    <button class="button_wrapper" id="submit">
        <img class="button_icon" src="./ressources/brain.svg" alt="icon" id="button-icon">
        <span class="loader" id="button-loader"></span>
        <span class="text" id="button-text">Reformuler</span>
    </button>
  </div>
</body>
</html>