.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_wrapper {
    display: flex;
    border-radius: 8px;
    background-color: #6142d4;
    align-items: center;
    gap: 8px;
    border: none;
    padding-block: 8px;
    padding-inline: 16px;
    cursor: pointer;
}

.dropdown_select {
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.4-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.2em top 50%;
    background-size: 0.65em auto;
}

.dropdown_select option {
    background-color: #6142d4;
    color: white;
}

.button_wrapper:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button_icon {
    width: 16px;
    height: 16px;
}

.text {
    color: white;
}

.loader {
    display: none;
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    border-top: 2px solid #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    box-sizing: border-box;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
