.app_wrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    font-family: system-ui, sans-serif;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cancel_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hover-button {
    cursor: pointer;
    background: none;
    border: none;
}

.hover-button #cancel_svg path {
    fill: currentColor;
    transition: fill 0.3s;
}

.hover-button:hover #cancel_svg path {
    fill: #6142d4;
}
