/* Response block styling */
.response-div {
    color: black;
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
    overflow-y: auto;
    max-height: 300px;
}

/* Main button styling */
.button {
    border: none;
    border-radius: 14px;
    padding: 5px 10px;
    background-color: #6142D4;
    color: white;
    width: 187px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Paste button styling inside response block */
#paste_button_wrapper button {
    background-color: #CBCBCB;
    border: none;
    padding: 10px 15px;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

#paste_button_wrapper button:hover {
    background-color: #A9A9A9;
}

/* Hide the response block wrapper initially */
#response_block_wrapper {
    background-color: #E7E9EC;
    border-radius: 8px;
    padding: 20px 0px;
    margin-bottom: 10px;
    display: none;
    max-height: 50%;
}

.loader {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    border-top: 2px solid #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
