@use '@styles/Spacings.module';
@use '@styles/Typography.module';

.response_container {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  outline: none;
  box-shadow: none;
  background-color: var(--background-3);
  padding: Spacings.$spacing05;
  font-size: Typography.$tiny;
  line-height: 18px;

  &:focus {
    outline: none !important;
    box-shadow: none;
    border: none;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}
