

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="components/response_block/response_block.css">
</head>
<body>
    <div id="response_block_wrapper" class="response_block_wrapper">
        <div id="quivr_response" class="quivr_response"></div>
        <div id="paste_button_wrapper" class="paste_button_wrapper">
            <button id="paste">Coller dans le brouillon</button>
        </div>
    </div>
</body>
</html>