@use '@styles/Radius.module';
@use '@styles/Spacings.module';
@use '@styles/Typography.module';

.chatbar_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .chatbar {
    padding-inline: Spacings.$spacing03;
    padding-block: Spacings.$spacing01;
    width: 100%;
    display: flex;
    align-items: center;
    gap: Spacings.$spacing02;
    border: 1px solid var(--border-0);
    border-radius: Radius.$big;
    align-items: center;
    font-size: Typography.$tiny;

    .input {
      border: none;
      width: 100%;
      outline: none;
      background-color: transparent;
      font-size: Typography.$tiny;
      max-height: 96px;
      resize: none;
      padding-block: Spacings.$spacing04;
      resize: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .icon {
      cursor: pointer;
      display: flex;
    }
  }
}
