name: Validate

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths:
      - "zendesk_app/**"
      - "!zendesk_app/src/manifest.json"
      - "!zendesk_app/manifest.json"

jobs:
  validate:
    runs-on: ubuntu-latest
    environment: preview
    defaults:
      run:
        working-directory: zendesk_app

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          cache: "npm"
          cache-dependency-path: zendesk_app/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Install ZCLI
        run: npm i @zendesk/zcli -g

      - name: Build
        env:
          VITE_ZENDESK_API_KEY: "{{setting.zendesk_api_key}}"
          VITE_SENTRY_DSN: ${{ vars.VITE_SENTRY_DSN }}
          VITE_SENTRY_ORG: ${{ vars.VITE_SENTRY_ORG }}
          VITE_SENTRY_PROJECT: ${{ vars.VITE_SENTRY_PROJECT }}
          VITE_SENTRY_AUTH_TOKEN: ${{ secrets.VITE_SENTRY_AUTH_TOKEN }}
        run: npm run build

      - name: Validate
        env:
          ZENDESK_SUBDOMAIN: ${{ secrets.ZENDESK_PREVIEW_SUBDOMAIN }}
          ZENDESK_EMAIL: ${{ secrets.ZENDESK_PREVIEW_EMAIL }}
          ZENDESK_API_TOKEN: ${{ secrets.ZENDESK_PREVIEW_API_TOKEN }}
        run: zcli apps:validate dist
